<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/socketio/socket.io.js"></script>
  <script src="/public/socket_io.js"></script>
  <link rel="stylesheet" href="/public/style.css">
</head>

<body class="container">
  <div class="main-area">
    <div class="chat-area-wrapper">
      <div class="d-flex">
        <div class="username" id="username"></div>
        <button type="button" class="btn btn-danger ml-auto" onclick="disconnect()" id="disconnect">Disconnect</button>
      </div>
      <div class="card chat-area">
        <ol id="messages_list">
        </ol>

        <div class="input-group mb-3">
          <input type="text" class="form-control message-input" id="message" placeholder="type message ...">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary send-btn" type="button" onclick="sendMessage()" id="send_message_btn">Send</button>
          </div>
        </div>
      </div>
    </div>
    <div class="currently-online-wrapper">
      <div class="currently-online-title">Currently Online</div>
      <div class="card currently-online">
        <ol id="user_list">
        </ol>
      </div>
    </div>
  </div>
</body>
</html>
