<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/public/style.css">
</head>

<body class="container">
  <h5>User39463</h5>
  <div class="main-area">
    <div class="card chat-area">
      <div class="input-group mb-3">
        <input type="text" class="form-control message-input" placeholder="type message ..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary send-btn" type="button" id="button-addon2">Button</button>
        </div>
      </div>
    </div>
    <div class="card currently-online">
    </div>
  </div>
</body>

</html>
